*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(216, 12%, 8%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-front,.card-back{
    width: 400px;
    height: 400px;
    background-color: hsl(215, 19%, 12%);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.8rem;
}

.circle{
    background-color: hsl(213, 19%, 18%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading{
    font-family:'Overpass', sans-serif;
    font-size: 20px;
    color: white;
    font-weight: 700;
    
}

.description{
    font-size: 15px;
    font-family:'Overpass', sans-serif;
    color: rgb(255, 255, 255);
    opacity: 0.25;
}
.card-back > .description{
    text-align: center;
}

.ratings-cls{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.ratings-cls label{
    font-family:'Overpass', sans-serif;
    /* display: inline-block;
    position: relative;
    right: 36px;
    top: 12px; */
    color: rgba(255, 255, 255, 0.537);
}

.ratings-cls input[type=radio]{
    display: none;
}
.ratings-cls input[type=radio] + label:hover{
    background-color: hsl(25, 97%, 53%) ;
    transform: scale(1.2);
    cursor: pointer;
}
.ratings-cls input[type="radio"]:checked + label{
    background-color: hsl(25, 97%, 53%) ;
  }


button{
    background-color: hsl(25, 97%, 53%);
    border: none;
    padding: 0.75rem;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-family:'Overpass', sans-serif;
    font-weight: 400;
    width: 100%;
}
button:hover{
    background-color: rgb(255, 255, 255);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    transform: scale(1.05);
}

.card-back{
    align-items: center;
}

/* .card-back{
    display: none;
} */
.card-back img{
    width: 150px;
}

.BGtext-shape{
    background-color: hsla(213, 20%, 18%, 0.443);
    width: fit-content;
    padding: 1rem;
    border-radius: 20px;
    color: hsl(25, 97%, 53%);
    font-size: 15px;
    font-family:'Overpass', sans-serif;
}

@media screen and (max-width: 412px) {
    .card-front,.card-back{
        width: 350px;
        height: 350px;
    }
    .circle{
        width: 35px;
        height: 35px;
    }
}
